<html>
	<head>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	  </head>
	</head>
  <body>
	<div class="container">
		<div id=header>
			<h2 class="block">{{session['first_name']}} {{session['last_name']}}
			|
			<a href="/Users/Dashboard"><strong>Dashboard</strong></a>
			|
			<a href="">Profile</a>
			|
			<a href="/Logout">Logout</a>	
			</h2>
		</div>
		<div>
			<h1>Edit Profile</h1>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{{edit_user}}
			<form action="/Users/Dashboard/update/{{edit_user['id']}}" method="POST">
				<h2>Edit Profile</h2>
				<label>First Name: <input type="text" value="{{edit_user['first_name']}}" name="first_name"></label>
				<label>Last Name: <input type="text" value="{{edit_user['last_name']}}" name="last_name"></label>
				<label>Email: <input type="email" value="{{edit_user['email']}}" name="email"></label>
				<br>
				<button>Save</button>
			</form>	
			<form>	
				<h2>Update Password</h2>
				<label>Password: <input type="password" name="password"></label>
				<label>Confirm Password: <input type="password" name="confirm_pw"></label>
				<br>
				<button>Update</button>
			</form>
			<br>
			<form>	
				<h2>Edit Description</h2>
				<label>Description: <input type="text" name="description"></label>
				<br>
				<button>Update</button>
			</form>
			<br>
			<a href="/Users/Dashboard">Go Back</a>
		</div>
	</div>
  </body>
</html>
