<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Friend</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
         {% if messages %}
          {% for message in messages %}
           <p>{{message}}</p>
          {% endfor %}
         {% endif %}
        {% endwith %}

        <p>Add friend</p>
        <form id="newfriend" action="new_friend" method="post">
            First Name: <input type="text" name="first_name"/>
            Last Name: <input type="text" name="last_name"/>
            Email: <input type="text" name="email"/>
            <input type="submit" name="submit" value="Submit">
        </form>

        <p>Edit friend</p>
        <form id="editfriend" action="newedit" method="post">
            First Name: <input type="text" name="first_name"/>
            Last Name: <input type="text" name="last_name"/>
            Email: <input type="text" name="email"/>
            <input type="hidden" name="id" value="{{id}}">
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>
