<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styles_index.css" type="text/css">

  </head>
  <body>
    <div id="nav"><h2>Test App</h2> <h3><a href="/">Home</a></h3><div id="log"><a href="/signin">Sign In</a></div>

    <div id="hero-unit">
      <h1>Welcome to the Test</h1>
      <p>We're going to beuild a cool application using a MVC framework! This application was built with the Village88folks!</p>
      <a href="/register"><button>Start</button></a>
    </div>

    <div id="info">
      <div class="info">
        <h4>Manage Users</h4>
        Using this application, you'll learn how to add, remove, and edit users for the app.
      </div>
      <div class="info">
        <h4>Leave Message</h4>
        Users will be able to leave a message to another using this applicaton.
      </div>
      <div class="info">
        <h4>Edit User Information</h4>
        Admins will be able to edit another user's information(email address, first name, last name, etc.)
      </div>
    </div>
  </body>
</html>
