<html>
  <head>
    <title>Signin</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styles_SigninReg.css" type="text/css">

  </head>
  <body>
    <div id="nav"><h2>Test App</h2> <h3><a href="/">Home</a></h3><div id="log"><a href="/signin">Sign In</a></div>

    <div id="form">
      <h2>Sign in</h2>
      {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
         <ul class=flashes>
         {% for category, message in messages %}
           <li class="{{ category }}">{{ message }}</li>
         {% endfor %}
         </ul>
       {% endif %}
      {% endwith %}

      <form action="/users/signin" method='post'>
        <table>
          <tbody>
            <tr><td><label for="email">Email Address:</label></td></tr>
            <tr><td><input type="email" name="email" value="{{session['email']}}" /></td></tr>
            <tr><td><label for="password">Password:</label></td></tr>
            <tr><td><input type="password" name="password" /></td></tr>
            <tr><td><div class="right"><button type="submit">Sign In</button</div></td></tr>
          </tbody>
        </table>

        <a href="/register">Don't have an account? Register.</a>
    </div>

  </body>
</html>
