<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <form action='/register_user' method = 'post'/>
      First Name: <input type="text" name="register_first" value="" placeholder="Enter your first name!">
      Last Name: <input type="text" name="register_last" value="" placeholder="Enter your last name!">
      Email: <input type="text" name="register_email" value="" placeholder="Enter your email!">
      Password: <input type="password" name="register_password" value="" placeholder="Enter your password!">
      Password confirmation: <input type="password" name="password_confirmation" value="" placeholder="Confirm your password!">
      <input type="submit" name="confirm" value="Register!">
    </form>
  </body>
</html>
