
#hero-unit{
  margin: 30px auto;
  width: 75%auto;
  border: 5px solid grey;
  background-color: lightgrey;
  padding: 25px;
}

#info{
  margin: 15px auto;
  width: auto;
  padding: 30px;

}
.info{
  margin: -20px 20px;
  vertical-align: top;
  display: inline-block;
  width: 300px;
}
