<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
    <h1>Welcome to CodingDojo's Course Page.</h1>
    <hr>
    <h3>Add a course here.</h3>
    <form action="/courses/add" method="POST" id="addcourse">
    	Course Name: <input type="text" name="course_name">
    	Course Description: <input type="textarea" name="course_description" form="addcourse">
    	<input type="submit" name="add_course_submit" value="Add.">
    	<input type="hidden" name="add_course_hidden">
    </form>
    <hr>
    <h3>Courses</h3>
    	<table>
    		<tr>
    			<th>Course Name</th>
    			<th>Course Description</th>
    			<th>Date Added</th>
    			<th>Actions</th>
    		</tr>
    		{%for var in all_data%}
    		<tr>
    			<td>{{var['coursename']}}</td>
    			<td>{{var['description']}}</td>
    			<td>{{var['created_at']}}</td>
    			<td><a href="/courses/destroy/{{var['id']}}">Remove</a></td>
    		</tr>
    		{%endfor%}
    	</table>
  </body>
</html>
