<!DOCTYPE html>
<html>
<head>
	<title>Random Word Generator</title>
	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	<style>
	*{
		text-align: center;
	}
	p{
		border: 3px solid black;
		width: auto;
		display: inline-block;
	}
	</style>

</head>
<body>
	<h3> Random Word (attempt # {{ session['num'] }})</h3>

	<p>{{ session['rando'] }}</p>
	<form action='/process' method='POST'>
		<input type='Submit' name='generate' value='Generate'>
	</form>
	<form action="/reset" method='POST'>
	<input type="submit" name="submit" value='Reset'>
	</form>

</body>
</html>
    
  
