<html>
  <head>
  	<!-- links/scripts for bootstrap -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  	<div class="container text-center">
  		<h4>Random Word (attempt # {{ attempt_count }})</h4>
  		<h3>{{ random_string }}</h3>
  		<form action="/generate" method="post">
  			<input type="submit" value="Generate">
  		</form>
  		<form action="/reset">
  			<input type="submit" value="Reset">
  		</form>
  	</div>
  </body>
</html>
