<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Product Info | Semi-RESTful</title>
	
	<!-- links/scripts for bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<body>
	<div class="container">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">Product {{ product['id'] }}</div>
				<div class="panel-body">
					<p><strong>Name:</strong> {{ product['name'] }}</p>
					<p><strong>Description:</strong> {{ product['description'] }}</p>
					<p><strong>Price:</strong> {{ product['price'] }}</p>
					
					<a href="/products/edit/{{ product['id'] }}">edit</a> | 
					<a class="text-muted" href="/">go back</a>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</body>
</html>