<!DOCTYPE html>
<html>
<head>
	<title>Rando Words</title>
	<style>
		*{
			margin: 0px auto;
			text-align: center;
			font-family: helvetica;
		}
		.header{
			margin: 20px;
		}
		.gen{
			border: solid black 2px;
			width: 500px;
			padding: 20px;
		}
		input{
			margin: 20px;
			width: 100px;
			background-color: gray;
		}
	</style>
</head>
<body>
	<div class='header'>
		<h2>Random Word (Attempt #{{session['count']}})</h2>
	</div>
	<div class='gen'>
		<h1>{{session['rando']}}</h1>	
	</div>
	<form action="/generate" method="post">
		<input type="submit" name="rando" value="Generate">
	</form>
</body>
</html>
