<!DOCTYPE html>
<html>
<head>
	<title>Time</title>
	<style>
		*{
			text-align: center;
			font-family: helvetica;
		}
		p{
			border: 2px solid black;
			margin: 0px auto;
			width: 250px;
			height: 20px;
			vertical-align: center;
			margin-top: 50px;
			padding: 10px;
		}
		#display{
			border: 2px solid black;
			margin: 0px auto;
			width: 500px;
			height: 200px;
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<p>The current time and date:</p>
	<div id ='display'>
		<h2>{{date}}</h2>
		<h2>{{time}}</h2>
	</div>
</body>
</html>